In [1]:
a="Hello World"
print(a)

Hello World

In [8]:
#TYPES
a=5
print("Type of a: ", type(a))

Type of a:  <class 'int'>

In [4]:
b=3.0
print("type of b:", type(b))

type of b: <class 'float'>

In [6]:
c=2+3j
print("type of c:", type(c))

type of c: <class 'complex'>

In [7]:
a="Hello World"
print("type of a:",type(a))

type of a: <class 'str'>

In [9]:
#EXPRESSIONS
#constant Expressions
x=24+3.5
x

27.5

In [14]:
#Arithmetic Expressions
a=10
b=30

add=a+b
sub=a-b
mul=a*b
div=a/b

print(add)
print(sub)
print(mul)
print(div)

40
-20
300
0.3333333333333333

In [15]:
#Integral Expressions
x=20
y=10.5
z=x+int(y)
z

30

In [16]:
#Floating Expressions
a=15
b=6
c=a/b
c

2.5

In [17]:
#Relational Expressions
a=12
b=7
c=9
d=34
e=(a+b)>=(c-d)
e

True

In [20]:
#Logical Expressions
x=(10==5)
y=(3<9)

w=x and y
z=x or y
r=not x

print(w)
print(z)
print(r)

False
True
True

In [21]:
#Bitwise Expressions
a=14
x=a>>2
y=a<<2
print(x,y)

3 56

In [23]:
#STRING OPERATIONS
#string capitalize
x="Haseena"
y="KEERTHI"
z="NeeRajA"
print(x.capitalize())
print(y.capitalize())
print(z.capitalize())

Haseena
Keerthi
Neeraja

In [26]:
#string count
string="Joyful life, live life happily"
substring="life"
x=string.count(substring)
x

2

In [29]:
#string isalpha()
x="Harsha"
y="hasee24"
z="123456"
print(x.isalpha())
print(y.isalpha())
print(z.isalpha())

True
False
False

In [75]:
#string islower&isupper
x="kittu"
y="KITTU"
z="KittU"
print(x.islower())
print(y.isupper())
print(z.islower())

True
True
False

In [31]:
#string isdigit
x="12345678910"
y="jhghy56768jkgh"
print(x.isdigit())
print(y.isdigit())

True
False

In [33]:
#string isspace
s="  hello"
g="bye"
f=" "
print(s.isspace())
print(g.isspace())
print(f.isspace())

False
False
True

In [36]:
#string upper&lower
x="kittu"
y="KITTU"
z="KiTtU"
print(x.upper())
print(y.lower())
print(z.upper())

KITTU
kittu
KITTU

In [38]:
#string Partition
x="do what makes your soul happy"
print(x.partition("your"))

('do what makes ', 'your', ' soul happy')

In [59]:
#string join
x=("always","love","yourself")
y=' '.join(x)
y

'always love yourself'

In [17]:
g="me"
h="you"
print(g.join(h))
print(h.join(g))

ymeomeu
myoue

In [65]:
#string replace
s="don't do it"
g="i can't do it"
print(s.replace("don't", ""))
print(g.replace("can't", "can"))

 do it
i can do it

In [68]:
#string split
h="love the life you live"
print(h.split())

['love', 'the', 'life', 'you', 'live']

In [69]:
#string swapcase
x="Haseena"
y="KEERTHI"
z="NeeRajA"
print(x.swapcase())
print(y.swapcase())
print(z.swapcase())

hASEENA
keerthi
nEErAJa

In [22]:
#string istitle
x="CELINE"
y="prada"
z="Dior"
print(x.istitle())
print(y.istitle())
print(z.istitle())

False
False
True

In [25]:
#Set Operations
#creation
set1={1,2,3,4}
set2={5,6,7,8}
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [26]:
#union
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
#intersection
print(set1.intersection(set2))

{5}

In [28]:
#difference_update
print(set1.difference_update(set2))
print(set1)

None
{1, 2, 3, 4}

In [7]:
#update
set1.update((8,9,10))
print(set1)

{1, 2, 3, 5, 7, 8, 9, 10}

In [17]:
#difference
set1={1,2,3}
set2={3,4,5}
print(set1.difference(set2))
print(set2.difference(set1))
print(set1)
print(set2)

{1, 2}
{4, 5}
{1, 2, 3}
{3, 4, 5}

In [18]:
#add
set1.add(5)
set1

{1, 2, 3, 5}

In [19]:
#remove
set1.discard(3)
set1

{1, 2, 5}

In [48]:
#Dictionaries
#empty dictionary
d={}
print(type(d))

<class 'dict'>

In [21]:
#creating dictionary
d={"Name":"Haseena", 
   "Gender":"Female", 
   "Age":18}
d

{'Name': 'Haseena', 'Gender': 'Female', 'Age': 18}

In [4]:
len(d)

3

In [5]:
d.keys()

dict_keys(['Name', 'Gender', 'Age'])

In [9]:
d={"Name":"Haseena", "Gender":"Female", "Age":18}
d.values()

dict_values(['Haseena', 'Female', 18])

In [10]:
d.items()

dict_items([('Name', 'Haseena'), ('Gender', 'Female'), ('Age', 18)])

In [15]:
d.get("Name")

'Haseena'

In [16]:
d.pop("Age")

18

In [18]:
d.popitem()

('Gender', 'Female')

In [21]:
keys=["Name","Rollno"]
d=d.fromkeys(keys,10)
d

{'Name': 10, 'Rollno': 10}

In [24]:
d1=d.copy()
d1

{'Name': 10, 'Rollno': 10}

In [34]:
#Control Statements
#largest number among three numbers
#if(method-1)
a=10
b=50
c=30
if((a>b) and (a>c)):
    print("a is big")
if((b>a)and(b>c)):
    print("b is big")
if((c>a)and(c>b)):
    print("c is big")

b is big

In [35]:
#if(method-2)
max=a
if(b>max):
    max=b
if(c>max):
    max=c
print(max)

50

In [43]:
#elif
a=10
b=5
c=30
if((a>b)and(a>c)):
    print("a is big")
elif(b>c):
    print("b is big")
else:
    print("c is big")

c is big

In [44]:
#Nested if
if(a>b):
    if(a>c):
        print("a is big")
    else:
        print("c is big")

c is big

In [47]:
#finding given number is +ve or -ve or zero
a=0
if(a>0):
    print("a is positive")
if(a<0):
    print("a is negative")
if(a==0):
    print("a is equal to zero")

a is equal to zero

In [49]:
a=20
if(a>0):
    print("positive number")
elif(a<0):
    print("negative number")
else:
    print("zero")

positive number

In [55]:
#display 1 to 10 and 10 to 1 numbers by using forloop and dowhile loop
#forloop
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [54]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [56]:
#while loop
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [59]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [60]:
#print even number b/w 1 to 100
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [61]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [63]:
#write a program to find of n numbers
i=1
sum=0
n=int(input("enter the number:"))
while(i<=n):
    sum=sum+1
    i=i+1
    print(sum)

enter the number:3
1
2
3

In [1]:
#print odd numbers
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [3]:
#even numbers
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [7]:
#sum of squares of natural number
sum=0
for i in range(1,6):
    sum=sum+i*i
    print(sum)

1
5
14
30
55

In [9]:
#While loop
#print 1 to n numbers
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [10]:
#print n to 1 numbers
i=10
while(i>=0):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [11]:
#print odd numbers
i=1
while(i<=10):
    print(i)
    i=i+2

1
3
5
7
9

In [13]:
#print even numbers
i=0
while(i<=10):
    print(i)
    i=i+2

0
2
4
6
8
10

In [14]:
#sum of n natural numbers
sum=0
i=1
while(i<5):
    sum=sum+i
    i=i+1
    print(sum)

1
3
6
10

In [15]:
#sum of squares of natural numbers
sum=0
i=1
while(i<6):
    sum=sum+i*i
    i=i+1
    print(sum)

1
5
14
30
55

In [17]:
#FUNCTIONS
#display text
def display():
    print("Hello World")
display()

Hello World

In [46]:
#find factorial of given number
def factorial(n):
    fact=1
    for i in range(1,n+1,1):
        fact=fact*i
    print(fact)
factorial(5)

120

In [49]:
#Recursion
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [53]:
#power
def power(x,n):
    if (n==0):
        return 1
    else:
        return x*power(x,n-1)
print(power(2,3))

8

In [1]:
#coprime numbers of specific number
from fractions import gcd
num=int(input("number1:"))
lower=int(input("lower limit:"))
upper=int(input("upper limit:"))
for i in range(lower,upper+1):
    if gcd, (num,1)==1:
        print(i)

SyntaxError: invalid syntax (3358566762.py, line 7)

In [2]:
#file Handling
#creating file
file=open("f1.txt","w")
print("file created")
file.close()
print("end of the file")

file created
end of the file

In [10]:
#reading file
file=open("f1.txt","r")
print(file.read())

This is amzing
living in spain

In [12]:
#writing file
file=open("f1.txt","w")
file.write("This is amzing")
file.write("\nliving in spain")
file.close()

In [14]:
#append file
file=open("f1.txt","a")
file.write("\nmy name is haseena")
print("text append in f1 file")
file.close()

text append in f1 file

In [15]:
file=open("f1.txt","r")
print(file.read())

This is amzing
living in spain
my name is haseena