In [1]:
import pandas as pd
x=pd.Series([2,4,6,8])
x

0    2
1    4
2    6
3    8
dtype: int64

In [8]:
x=pd.Series([2,4,6,8])
print(x)
print(type(x))
print("Convert pandas series to list")
print(x.tolist())
print(type(x.tolist()))

0    2
1    4
2    6
3    8
dtype: int64
<class 'pandas.core.series.Series'>
Convert pandas series to list
[2, 4, 6, 8]
<class 'list'>

In [9]:
x=pd.Series([2,4,6,8])
y=pd.Series([1,3,5,9])
print("Addition")
print(x+y)
print("Subtraction")
print(x-y)
print("Multiplication")
print(x*y)
print("Division")
print(x/y)

Addition
0     3
1     7
2    11
3    17
dtype: int64
Subtraction
0    1
1    1
2    1
3   -1
dtype: int64
Multiplication
0     2
1    12
2    30
3    72
dtype: int64
Division
0    2.000000
1    1.333333
2    1.200000
3    0.888889
dtype: float64

In [10]:
#realtional operaqtors
print(x)
print(y)
print("Equals")
print(x==y)
print("Greater than")
print(x>y)
print("Less than")
print(x<y)

0    2
1    4
2    6
3    8
dtype: int64
0    1
1    3
2    5
3    9
dtype: int64
Equals
0    False
1    False
2    False
3    False
dtype: bool
Greater than
0     True
1     True
2     True
3    False
dtype: bool
Less than
0    False
1    False
2    False
3     True
dtype: bool

In [6]:
import pandas as pd
x={'a':100, 'b':200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(x)
x=pd.Series(x)
x

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
import pandas as pd
import numpy as np
x=np.array([10,20,30,40,50])
print("numpy array")
print(x)
print("converted series")
x=pd.Series(x)
x

numpy array
[10 20 30 40 50]
converted series

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
import pandas as pd
s=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
s.values

array([10, 20, 30, 40, 50], dtype=int64)

In [8]:
s.array

<PandasArray>
[10, 20, 30, 40, 50]
Length: 5, dtype: int64

In [9]:
s.dtype

dtype('int64')

In [10]:
s.shape

(5,)

In [11]:
s.ndim

1

In [13]:
s.size

5

In [14]:
s.memory_usage()

252

In [18]:
s.empty

False

In [22]:
#Mathematical operations on series
a=pd.Series([1,2,3,4])
b=pd.Series([5,6,7,8])
print(a)
print(b)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64

In [23]:
a.add(b)

0     6
1     8
2    10
3    12
dtype: int64

In [24]:
a.subtract(b)

0   -4
1   -4
2   -4
3   -4
dtype: int64

In [5]:
import numpy as np
import pandas as pd
a=np.array([10,20,30])
b=np.array([40,50,60])
c=np.array([70,80,90])
df=pd.DataFrame(a)
df

    0
0  10
1  20
2  30

In [6]:
df=pd.DataFrame(b)
df

    0
0  40
1  50
2  60

In [7]:
df1=pd.DataFrame([a,b,c],columns=["A","B","C"])
df1

    A   B   C
0  10  20  30
1  40  50  60
2  70  80  90